*{
    margin:0;
    padding:0;

}
.container{
width:1200px;
margin-left: auto;
margin-right: auto;
}
.headr{
    background: #F6F6F9;
    padding-top: 43px;
}
.headr-top{
    display: flex;
    justify-content: space-between;
  
}
.headr-top-left{
    display: flex;
  
    align-items: center;
}
.namanganliklar24{
    width:320px;
    height:40px;
    background-color: #fff;
box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
border-radius: 5px;
   
    padding:3px 6px 4px 8px;
    box-sizing: border-box;
}
.namanganliklar{
    width:306px;
    height:33px;
    
    font-family:'Rubik';
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;

color: #295091;
}
.kurs-valyuta{
    display: flex;
    width:258px;
    height:21px;
    justify-content: space-between;
    margin-left: 17px;
}
.valyuta{
    font-family:'Rubik';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #285193;

}
.kurs{
    font-family:'Rubik';
    list-style-type: none;
    color: #888;
  
}
.headr-top-right{
    display: flex;
    align-items: center;
}
.search{
    width:38;
    height:40px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 21px;
  padding:11px;
    border: none;
}
.til{
    width:65px;
    height:40px;
    padding:10px 8px 8px 11px;
    margin-right: 23px;
    display:flex;
    align-items:center;
    background: #FFFFFF;
border-radius: 5px;
box-sizing: border-box;
}
.til img{
    border-radius: 18px;
}
.til span{
    margin-left: 5px;
    font-family:'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #535353;

}
.tg-link{
    text-decoration: none;
}
.tg-btn{
   
   padding: 10px 12px;
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
border-radius: 5px;
font-family:'Rubik';
display: flex;
align-items: center;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
border: none;
   
}
.tg-btn::before{
content: '';
background-image: url(./img/telegram.svg);
display: inline-block;
width:20px;
height:20px;
margin-right: 7px;


}
.headr-nav{
   
    margin-top: 44px;
    background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
border-radius: 5px;
padding:21px 24px;
box-sizing: border-box;
}
.nav{
    list-style-type: none;
    display: flex;
    width:1151px;
    height:25px;
    justify-content: space-between;
}
.item:nth-of-type(4){
    color:#133C82;
}
.link{
    text-decoration: none;
    font-family:'Rubik';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;

color: #515151;
}
.nrg{
    width:1200px;
    height:99px;
    margin-top: 18px;
    margin-bottom: 23px;
}



.section1{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

}
.section1-left h4{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
}
.sana{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 14px;
}
.sana::before{
    content: '';
    background-image: url(./img/kalendar-icon.svg);
    display:inline-block;
    width:14px;
    height: 17px;
    margin-right: 4px;
}

.sana p{
    font-family: 'Rubik';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #7688A4;
}
.section1-left img{
width:794px;
}
.text{
    width:794px;
    margin-top: 17px;
    font-family: 'Roboto';
    font-weight: 350;
}
.heading{
    font-family: 'Roboto';
    font-weight: 500;
}
.italic{
    font-weight: 500;
    font-style: italic;
}

.hashtag{    
    margin-top: 29px;
    font-family:'Rubik';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #28508E;
}
.section1-left{
    border-bottom: 2px solid #EBEBEB;;
}
.right-top{
width:386px;
height:542px;
margin-top: 3px;
padding:16px 20px;
background: #F6F6F9;
border-radius: 5px;
box-sizing: border-box;
}
.right-top h4{
    font-family:'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #202020;
}
.top-content{
    margin-top: 18px;
    border-bottom:4px solid #E4E4E4;;
    padding-bottom: 14px;
}
.top-content:nth-of-type(1){
    margin-top: 6px;
}
.top-content:nth-of-type(4){
    border: none;
}
.top-content p{
    width:347px;
    height:62px;
    margin-bottom: 11px;
    font-family:'Rubik';
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

color: #202020;
}
.top-content span{
    width:117px;
    height:19px;
    font-family:'Rubik';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #7688A4;

}
.ucel{
    width:386px;
    height:477px;
    margin-top: 20px;
}
/*              S E C T I O N 2 */
.section2 h4{
    margin-top: 16px;
    font-family:'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.section2-body{
    display:flex;
    margin-bottom: 34px;
}
.section2-content{
    margin-right: 20px;
}
.section2-content:nth-child(3){
    margin-right: 0;
}
.section2-img{
    width:386px;
    height:190px;
    margin-top: 18px;
}
.section2-content-yozuv h4{
    width:380px;
    height:42px;
    margin: 11px 0;
    font-family:'Rubik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

color: #202020;
}
.section2-content-yozuv span{
    width:125px;
    height:18px;
    font-family:'Rubik';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #6B6D97;
}








.footer{
    margin-top: 38px;
    padding-bottom: 13px;
     background-color: #295093;
 }
 .namanganliklar24-2{
     width:194px;height:38px;
     margin-top: 18px;
     padding:11px 12px 6px 9px;
     box-sizing: border-box;
     background: #133C82;
 border-radius: 5px;
 }
 .namanganliklar2{
     font-family:'Rubik';
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 19px;
 
 color: #FFFFFF;
 width:173px;
 height: 21px;
 
 }
 .tg-btn2{
    
 margin-top: 20px;
 margin-left: 17px;
 padding:9px 10px;
 box-sizing: border-box;
 display: flex;
 align-items: center;
 background: #FFFFFF;
 border-radius: 5px;
 border:none;
 font-family:'Rubik';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 color: #295093;
 }
 .tg-btn2::before{
     content: '';
     background-image: url(./img/tg-btn2.svg);
     display:inline-block;
     width:18px;
     height: 19px;
     margin-right:6px;
 }
 .footer-top{
     display:flex;
     margin-bottom: 18px;
 }
 .footer-top p{
     margin-left: 198px;
     margin-top: 31px;
     font-family:'Rubik';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 
 color: #FFFFFF;
 }
 .footer-line{
     height: 2px;
     background-color: #133C82;
 }
 .footer-body{
     display:flex;
     margin-top: 12px;
    
 }
 .footer-body-left{
     width: 365px;
 height: 121px;
     font-family:'Rubik';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 
 color: #FFFFFF;
 }
 .footer-li{
     list-style-type:none;
 }
 .footer-link{
     text-decoration: none;
     font-family:'Rubik';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 
 color: #FFFFFF;
 }
 .footer-body-middle{
     margin-left: 111px;
     margin-right: 115px;
 }

 .link-2page{
    text-decoration: none;
}